<h2>User info</h2>

<%= form_with model: @user,url: edit_user_path(user.id),method: :patch do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.file_filed :image, accept: "image/*" %>

<%= f.label :introduction %>
<%= f.text_area :introduction %>


