<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <%= form_with model: @book,url: book_path(@book.id),method: :patch do %>
          <div class="form-group">
            <label for="book_title">Title</label>
            <input class="form-control book_title" type="text" value="<%= @book.title %>" name="book[title]" id="book_title">
          </div>
          <div class="form-group">
            <label for="book_body">Opinion</label>
            <textarea class="form-control book_body" name="book[body]" id="book_body"><%= @book.body %></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Update Book" class="btn btn-success" name="commit" data-disable-with="Update Book">
          </div>
          <%= link_to "Show",book_path(@book.id) %> | <%= link_to "Back",books_path %>
      <% end %>
    </div>
  </div>
</div>